.THIS {
    
}

.THIS .ss-text-heading_medium{
    font-weight: t(SSLDTHeaderLGFontWeight);
}

.THIS .header-lg{
    font-size: t(SSLDTHeaderLGFontSize);
    color : t(SSLDTHeaderLGColor);
}

.THIS .header-lg2{
    font-size: t(SSLDTHeaderLG2FontSize);
    color : t(SSLDTHeaderLG2Color);
    font-weight: t(SSLDTHeaderLG2FontWeight);
}